/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


.form-field {
           width: 100%;
}

.button-style {
           margin-left: 10px !important;
}
/* 
.example-button-row {
           display: table-cell;
           width: 490px;
} */