<section class="login_component">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6">
                <div>
                    <div class="bg_ice_white p-4">
                        <h3 class="mb-4">Login Now!</h3>
                        <p *ngIf="msg" class="alert alert-danger">{{errorMsg}}</p>
                        <form #loginForm="ngForm" (ngSubmit)="loginformSubmit(loginForm.value)">
                            <div>
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>UserName</mat-label>
                                    <input #userName="ngModel" [(ngModel)]="loginData.userName" required name="userName"
                                        type="text" matInput placeholder="Enter UserName">
                                </mat-form-field>
                                <div>
                                    <p *ngIf="userMsg" class="alert alert-danger">{{errorMsg}}</p>
                                    <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger">
                                        <div *ngIf="userName.errors?.['required']">
                                            UserName is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <mat-form-field class="form-field" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input #password="ngModel" [(ngModel)]="loginData.password" required name="password"
                                        type="password" matInput placeholder="Enter Password">
                                </mat-form-field>
                                <div>
                                    <p *ngIf="passwordMsg" class="alert alert-danger">{{errorMsg}}</p>
                                    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                                        <div *ngIf="password.errors?.['required']">
                                            Password is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" mat-raised-button class="btn btn-block"
                                    color="primary">Login</button>
                                <p class="text-center mt-1 mb-1">OR</p>
                                <a class="btn btn-block hover_white_color" mat-raised-button color="accent"
                                    [routerLink]="'/auth/signup'">Sign
                                    Up</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="login__card p-4">
                    <div class="row justify-content-center align-items-center">
                        
                        <div class="col-md-7">
                            <h1>Hello World.</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et est sed felis
                                aliquet sollicitudin</p>
                        </div> -->
                <!-- <div class="col-md-5 ">
                            <div class="bg-white">
                                <h5>Login</h5>
                                
                                <p *ngIf="msg" class="alert alert-danger">{{errorMsg}}</p>
                                <form #loginForm="ngForm" (ngSubmit)="loginformSubmit(loginForm.value)">
                                    <div>
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>UserName</mat-label>
                                            <input #userName="ngModel" [(ngModel)]="loginData.userName" required
                                                name="userName" type="text" matInput placeholder="Enter UserName">
                                        </mat-form-field>
                                        <div>
                                            <p *ngIf="userMsg" class="alert alert-danger">{{errorMsg}}</p>
                                            <div *ngIf="userName.touched && userName.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="userName.errors?.['required']">
                                                    UserName is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <mat-form-field class="form-field" appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input #password="ngModel" [(ngModel)]="loginData.password" required
                                                name="password" type="password" matInput placeholder="Enter Password">
                                        </mat-form-field>
                                        <div>
                                            <p *ngIf="passwordMsg" class="alert alert-danger">{{errorMsg}}</p>
                                            <div *ngIf="password.touched && password.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="password.errors?.['required']">
                                                    Password is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container text-center">
                                        <div class="example-button-row">
                                            <button type="submit" mat-raised-button color="primary">Login</button>
                                            <a class="navLink button-style" mat-raised-button color="accent"
                                                [routerLink]="'/auth/signup'">Sign
                                                Up</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                <!-- </div>
                </div>  -->
            </div>
        </div>
    </div>

    <div class="boxes">
        <ul class="single-box">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


</section>
<!-- partial -->