<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 reused_table_header">
      <div class="card">
        <div class="card-header-danger">
          <h2>SubTopic Table</h2>
          <a class="navLink ml-5" mat-raised-button color="primary" [routerLink]="'/page/home'">Back to Home</a>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>SubTopic Id</th>
              <th>SubTopic Name</th>
              <th>Topic</th>
              <th>Course</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subTopic of subTopics">
              <td>{{subTopic.id}}</td>
              <td>{{subTopic.subTopicName}}</td>
              <td>{{subTopic.topic.topicName}}</td>
              <td>{{subTopic.topic.course.courseName}}</td>
              <td>
                <a class="navLink ml-5" mat-raised-button color="primary" [routerLink]="''">Update</a>
                <a class="navLink button-style" mat-raised-button color="danger" [routerLink]="''">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>