<div class="profile_component">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10 reused_table_header">
                <div class="card px-3 pb-4">
                    <div class="card-header card-header-warning">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0 ">Add New  Course</h4>
                            <a  mat-raised-button [routerLink]="'/page/viewCourse'">Back to Courses</a>
                        </div>
                    </div>
                    <p *ngIf="msg" class="text-danger">{{errorMsg}}</p>
                    <form #courseForm="ngForm" class="mt-4" (ngSubmit)="AddCourse(courseForm.value)">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <div>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Course</mat-label>
                                        <input (change)="updatelist()" #courses="ngModel" [(ngModel)]="course.courseName"
                                            required name="courseName" type="text" matInput placeholder="Enter Course">
                                        
                                    </mat-form-field>
                                    <div *ngIf="courses.touched && courses.invalid" class="alert alert-danger">
                                        <div *ngIf="courses.errors?.['required']">
                                            Course is required
                                        </div>
                                    </div>
                                </div> -->
                                <div>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Course</mat-label>
                                        <mat-select (selectionChange)="updatelist()"  #courses="ngModel" name="courseName" [(ngModel)]="course.courseName">
                                            <mat-option *ngFor="let courseData of coursesList"  [value]="courseData.value">
                                                {{courseData.courseName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Author</mat-label>
                                        <mat-select name="authorId" #authorId="ngModel" [(ngModel)]="course.authorId" required>
                                            <mat-option *ngFor="let author of authorRole" [value]="author.user_id">
                                                {{author.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <div *ngIf="authorId.touched && authorId.invalid" class="alert alert-danger">
                                        <div *ngIf="authorId.errors?.['required']">
                                            Author must be selected
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Course Description</mat-label>
                                        <textarea matInput [(ngModel)]="course.courseDescription" #courseDescription="ngModel"
                                        name="courseDescription" rows="6"></textarea>
                                      </mat-form-field>
                                    <!-- <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Mentor</mat-label>
                                        <mat-select name="mentorId" #mentorId="ngModel" [(ngModel)]="course.mentorId"
                                            required="">
                                            <mat-option *ngFor="let mentor of mentorRole" [value]="mentor.user_id">
                                                {{mentor.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                    <!-- <div *ngIf="mentorId.touched && mentorId.invalid" class="alert alert-danger">
                                        <div *ngIf="mentorId.errors?.['required']">
                                            Mentor must be selected
                                        </div>
                                    </div> -->
                                </div>
                                <div class="example-button-row">
                                    <button type="submit" class="btn btn-block" mat-raised-button color="primary">Add Course</button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>