<div class="container">
           <div class="row">
               <div class="col-md-12">
                   <h2 class="text-center">Send Otp</h2>
                   <form  #otp="ngForm" (ngSubmit)="sendOtp(otp.value)">
                       <mat-form-field class="form-field" appearance="outline">
                           <mat-label>Email</mat-label>
                           <input #email="ngModel" [(ngModel)]="otpData.email" required  name="email" type="email" matInput
                               placeholder="Enter Email Here">
                           <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                       </mat-form-field>
                       <div class="container text-center">
                           <div class="example-button-row">
                               <button type="submit" mat-raised-button color="primary">Send Otp</button>
                            </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>