<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 reused_table_header">
            <div class="card">
                <div class="card-header card-header-warning">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Questions List</h4>
                        <div>
                            <a  mat-raised-button [routerLink]="'/page/home'">Back to Home</a>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Question Id</th>
                            <th>Question</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let question of questions |  paginate:{
                            itemsPerPage:tableSize,
                            currentPage:page,
                            totalItems:count
                          }; let i = index">
                            <td>{{question.id}}</td>
                            <td>
                                <a class="badge badge-info p-2 text-white mr-2"
                                    [routerLink]="['/page/solveQuestion/'+question.id]">{{question.question}}</a>
                            </td>
                            <td>status</td>
                        </tr>
                    </tbody>
                </table>

                <div class="pb-4 d-flex justify-content-end pr-3">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>

            </div>
        </div>
    </div>
</div>