<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 reused_table_header">
            <div class="card px-3">
                <div class="card-header card-header-warning">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Add Topic</h4>
                        <div>
                            <a mat-raised-button [routerLink]="'/page/viewCourse'">Back to Home</a>
                        </div>
                    </div>
                </div>
                <div class="pb-3 mt-4">
                    <div class="col-md-12">
                        <form #topicForm="ngForm" (ngSubmit)="AddTopic(topicForm.value)">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Topic</mat-label>
                                <input #courses [(ngModel)]="topic.topicName" name="topicName" type="text" matInput
                                    placeholder="Enter Topic">
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Course</mat-label>
                                <mat-select name="course" [(ngModel)]="topic.course">
                                    <mat-option *ngFor="let course of coursesList" [value]="course">
                                        {{course.courseName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Topic Description</mat-label>
                                <textarea matInput [(ngModel)]="topic.topicDescription" #topicDescription="ngModel"
                                name="topicDescription" rows="6"></textarea>
                            </mat-form-field>

                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Estimated Days</mat-label>
                                <input #days [(ngModel)]="topic.days" name="days" type="text" matInput
                                    placeholder="Enter Days">
                            </mat-form-field>

                            <mat-form-field  class="form-field" appearance="outline">
                                <mat-label>Estimated Time</mat-label>
                                <mat-select name="estimatedTime" #estimatedTime="ngModel" [(ngModel)]="topic.estimatedTime">
                                  <mat-option *ngFor="let time of timeData" [value]="time.value">
                                    {{time.value}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
        
                            <div class="d-flex justify-content-end">
                                <div class="">
                                    <button type="submit" class="w-100 btn btn-block" mat-raised-button color="primary">Add Topic</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>