<p>change-password works!</p>
<form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value)">
<div>
           <mat-form-field class="form-field" appearance="outline">
                      <mat-label>Old Password</mat-label>
                      <input minlength="8" [(ngModel)]="changePasswordData.oldPassword" #oldPassword="ngModel"
                          name="oldPassword" type="password" matInput placeholder="Enter Old Password">
           </mat-form-field>
           <mat-form-field class="form-field" appearance="outline">
                      <mat-label>New Password</mat-label>
                      <input minlength="8" [(ngModel)]="changePasswordData.newPassword" required #newPassword="ngModel"
                          name="newPassword" type="password" matInput placeholder="Enter New Password">
           </mat-form-field>
           <button type="submit" class="btn" [disabled]="changePasswordForm.invalid" mat-raised-button
           color="primary">Change Password</button>
</div>
</form>