<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 reused_table_header">
            <div class="card p-3">
                <div class="card-header card-header-warning">
                    <div class="d-flex justify-content-between">
                        
                    <h2 class="card-title mb-0">Update Question</h2>
                    <button  mat-raised-button 
                                (click)="backButton()">Back To Sub Topic</button>
                    </div>
                </div>
                <form #topicForm="ngForm" class="mt-4" (ngSubmit)="updateQuestion(topicForm.value)">
                    <mat-form-field class="form-field w-100" appearance="outline">
                        <mat-label>Question</mat-label>
                        <input [(ngModel)]="question" name="question" type="text" matInput placeholder="Enter Question">
                    </mat-form-field>

                    <div>

                        <select class="form-control" name="course" #course="ngModel" [(ngModel)]="subTopicData">
                            <option disabled *ngFor="let subTopic of subTopicsList" [value]="subTopic"
                                [selected]="subTopic.subTopicName === subTopicName">
                                {{subTopic.subTopicName}}
                            </option>
                        </select>
                    </div>
                    <div class="d-flex mt-4 justify-content-end">
                        <button type="submit" mat-raised-button color="primary">Update Question</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>