<div class="container-fluid">
           <div class="row">
             <div class="col-md-12 reused_table_header">
               <div class="card">
                 
               <div class="card-header card-header-warning">
                 <div class="d-flex justify-content-between align-items-center">
                   <h2 class="card-title mb-0">Assigned Mentor List</h2>
                   <div>
                     <a class="mr-1" mat-raised-button [routerLink]="'/page/assignMentor'">Assign Mentor</a>
                   </div>
                 </div>
               </div>
               <div class="table-responsive">
                 <table class="table table-hover">
                   <thead>
                     <tr>
                       <!-- <th>Topic Id</th> -->
                       <th>Profile</th>
                       <th>Mentor</th>
                       <th>Trainee</th>
                       <th>Actions</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr *ngFor="let assign of assignMentorData |  paginate:{
                       itemsPerPage:tableSize,
                       currentPage:page,
                       totalItems:count
                     }; let i = index">
                       <td>
                                 {{assign.profile}}
                       </td>
                       <td>
                                 <div *ngFor="let user of users">
                                   <span *ngIf="assign.mentorId === user.id">
                                     {{user.name}}
                                   </span>
                                 </div>
                               </td>
                       <td>
                         <div *ngFor="let user of users">
                           <span *ngIf="assign.traineeId === user.id">
                             {{user.name}}
                           </span>
                         </div>
                       </td>
                       <td>
                         <a class="text-white" mat-mini-fab color="accent" [routerLink]="'/page/updateTopic/'+assign.id">
                           <mat-icon class="mat-18">system_update</mat-icon>
                         </a>
                         <a class="ml-3 text-white" mat-mini-fab color="primary">
                           <mat-icon (click)="deleteAssignData(assign.id)" class="mat-18">delete</mat-icon>
                         </a>
                       </td>
                     </tr>
                   </tbody>
                 </table>
         
                 <div class="pb-4 d-flex justify-content-end pr-3">
                   <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                   </pagination-controls>
                 </div>
         
               </div>
         
             </div>
             </div>
           </div>
         </div>