.profile_component{
    .card{
        .card-header-danger{
            box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(52 34 233);
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
    background: linear-gradient(60deg, #8a7ef7, #1904e5);
            margin-bottom: 20px;
            p,h4{
                color: #fff;
            }
        }
    }
}