<section>
   <div class="dashboard_top_box container-fluid">
      <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
               <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                     <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Total Courses</p>
                  <h3 class="card-title">{{numberOfCourses}}</h3>
               </div>
               <div class="card-footer">
                  <div class="stats">
                     <i class="material-icons">date_range</i>
                     Last 24 Hours
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
               <div class="card-header card-header-s card-header-icon">
                  <div class="card-icon">
                     <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Total Users</p>
                  <h3 class="card-title">{{numberOfUsers}}</h3>
               </div>
               <div class="card-footer">
                  <div class="stats">
                     <i class="material-icons">date_range</i>
                     Last 24 Hours
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
               <div class="card-header card-header-d card-header-icon">
                  <div class="card-icon"><i class="material-icons">info_outline</i></div>
                  <p class="card-category">Total Authors</p>
                  <h3 class="card-title">{{numberOfAuthors}}</h3>
               </div>
               <div class="card-footer">
                  <div class="stats"><i class="material-icons">local_offer</i> Tracked from Github </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
               <div class="card-header card-header-i card-header-icon">
                  <div class="card-icon"><i class="material-icons">update</i></div>
                  <p class="card-category">Total Trainee</p>
                  <h3 class="card-title">{{numberOfTrainee}}</h3>
               </div>
               <div class="card-footer">
                  <div class="stats"><i class="material-icons">update</i> Just Updated </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container-fluid dashboard_table mt-5">
      <div class="row">
         <div class="col-lg-6 col-md-12">
            <div class="card p-3">
               <div echarts [options]="gradientChart" class="demo-chart"></div>
            </div>
         </div>
         <div class="col-lg-6 col-md-12">
            <div class="card p-3">
               <div echarts [options]="Round" class="demo-chart"></div>
            </div>
         </div>
         <div *ngIf="check" class="col-lg-12 mt-5 col-md-12">
            <div class="card">
               <div class="card-header card-header-warning">
                  <h4 class="card-title mb-0">{{userListName}}</h4>
               </div>
               <div class="card-body table-responsive">
                  <table class="table table-hover">
                     <thead class="">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Profile</th>
                        <th>Role</th>
                     </thead>
                     <tbody>
                        <tr *ngFor="let user of userList">
                           <td>{{user.name}}</td>
                           <td>{{user.email}}</td>
                           <td>
                              <div *ngFor="let profile of user.profile">
                                 {{profile.profileName.toUpperCase()}}
                               </div>
                           </td>
                           <td>
                              <div *ngFor="let role of user.roles">
                                {{role.roleName}}
                              </div>
                            </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div *ngIf="trainees" class="col-lg-12 mt-5 col-md-12">
            <div class="card">
               <div class="card-header card-header-warning">
                  <h4 class="card-title mb-0">{{traineeListName}}</h4>
               </div>
               <div class="card-body table-responsive">
                  <table class="table table-hover">
                     <thead class="">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Profile</th>
                     </thead>
                     <tbody>
                        <tr *ngFor="let user of traineeList">
                           <td>{{user.name}}</td>
                           <td>{{user.email}}</td>
                           <td>
                              <div *ngFor="let profile of user.profile">
                                 {{profile.profileName.toUpperCase()}}
                               </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>