<section class="user_list_component">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 reused_table_header">
        <div class="card">
          <div class="card-header card-header-warning">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-title mb-0 ">Users List</h4>
              <div>
                <a mat-raised-button [routerLink]="'/page/addUser'">Create User</a>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Profile</th>
                  <th>Role</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | paginate:{
                  itemsPerPage:5,
                  currentPage:page
                };">
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.profile.toUpperCase()}}</td>
                  <td>
                    <div *ngFor="let role of user.roles">
                      {{role.roleName}}
                    </div>
                  </td>
                  <td>
                    <a class="text-white" mat-mini-fab color="accent" [routerLink]="['/page/updateUser/'+user.id]">
                      <mat-icon class="mat-18">create</mat-icon>
                    </a>
                    <!-- 
                      <button class="navLink button-style" mat-icon-button color="accent">
                      <mat-icon (click)="updateUser(user.id)"  class="mat-18">system_update</mat-icon>
                      </button>
                    -->

                    <a class="ml-3 text-white" mat-mini-fab color="primary">
                      <mat-icon (click)="deleteUser(user.id)" class="mat-18">delete</mat-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
              
            </table>
            <div class="pb-4 d-flex justify-content-end pr-3">
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>