<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 reused_table_header">
      <div class="card">
        <div class="card-header-danger">
          <div class="d-flex align-items-center justify-content-between">
            <h2>Questions Table</h2>
            <a mat-raised-button [routerLink]="'/page/home'">Back to Home</a>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Question Id</th>
              <th>Question</th>
              <th>SubTopic</th>
              <th>Topic</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of questionsList">
              <td>{{question.id}}</td>
              <td>{{question.question}}</td>
              <td>{{question.subTopic.subTopicName}}</td>
              <td>{{question.subTopic.topic.topicName}}</td>
              <td>
                <a class="navLink ml-5" mat-raised-button color="primary" [routerLink]="''">Update</a>
                <a class="navLink button-style" mat-raised-button color="danger" [routerLink]="''">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>